@charset "UTF-8";

/*Адаптив. Указать общий размер и размер контейнера */

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.btn {
  padding: 15px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 36px;
  padding-right: 36px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background: #3057a7;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.title__text {
  font-size: 36px;
  line-height: 147.22222%;
  text-align: center;
  color: #323232;
  font-weight: 700;
  width: 100%;
  max-width: 740px;
  margin: 0px 0px 50px 0px;
  font-size: 36px;
}

.title__text_white {
  color: #FFFFFF;
}

.suptitle {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  width: 100%;
  max-width: 730px;
  font-size: 16px;
}

._no-webp .intro{
  background: url("../img/intro/Rectangle.jpg") center/cover no-repeat; }

.intro {
  /* height: 100vh; */
  color: #ffffff;
  /* overflow: auto; */
}

.intro__flex {
  padding: 400px 0px 280px 0px;
  padding-top: 400px;
  padding-bottom: 280px;
}

.intro__row {
  /* display: flex;
		flex-direction: column; */
}

.intro__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 829px;
}

.intro__subtitle {
  margin: 0px 0px 15px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-size: 16px;
}

.intro__title {
  margin: 0px 0px 55px 0px;
  font-weight: 800;
  font-size: 48px;
  line-height: 133.33333%;
  text-align: center;
  font-size: 48px;
}

.mobile-applications__flex {
  margin: 100px 0px 0px 0px;
}

.mobile-applications__row {
  margin: 0px 0px 70px 0px;
}

.mobile-applications__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-applications__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-applications__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.mobile-applications__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-applications__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-applications__img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 1px solid #4985FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-applications__discription {
  margin: 0px 0px 30px 20px;
  padding: 50px 0px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 222px;
          flex: 0 0 222px;
}

.mobile-applications__name-article {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0px 0px 10px 0px;
  font-size: 18px;
}

.mobile-applications__inform {
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  font-size: 14px;
}

.mobile-applications__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-applications__btn {
  padding: 15px 80px;
}

.development {
  background-color: #F6F6F8;
}

.development__flex {
  margin: 50px 0px 0px 0px;
}

.development__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0px 90px;
  border-bottom: 1px solid #E0E0E0;
  padding-top: 100px;
  padding-bottom: 90px;
}

.development__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* height: 100%; */
  /* align-items: center; */
}

.development__text {
  height: 100%;
}

.development__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 424px;
          flex: 0 0 424px;
  font-weight: 700;
  font-size: 36px;
  line-height: 147.22222%;
  color: #323232;
  margin: 0px 0px 20px 0px;
  font-size: 36px;
}

.development__duscription {
  /* max-width: 489px; */
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin: 0px 0px 20px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 489px;
          flex: 0 1 489px;
  font-size: 16px;
}

.development__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4985FF;
}

.development__link:hover {
  text-decoration: underline;
}

.development__card {
  background-color: #F6F6F8;
}

.development__photo {
  background-color: #F6F6F8;
}

.development__img {
  position: relative;
  padding: 0px 0px 77% 0px;
}

.development__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.development__row-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  padding: 50px 0px;
}

.development__project {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 20px 0px;
}

.development__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.development__number {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  font-size: 36px;
}

.development__suptitle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  font-size: 16px;
}

.our-work {
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), #C4C4C4;
  background: -o-linear-gradient(left, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}

.our-work__flex {
  padding: 100px 0px 302px;
}

.our-work__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-work__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
}

.our-work__title {
  font-size: 36px;
  /* line-height: 53px; */
  color: #FFFFFF;
  font-weight: 700;
  line-height: 147.22222%;
  font-size: 36px;
}

.our-work__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.we-work__flex {
  margin: -230px 0px 0px 0px;
}

.we-work__project {
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 0px 70px 0px;
  padding-bottom: 70px;
}

.we-work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.we-work__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  margin: 0px 0px 20px 0px;
}

.we-work__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  height: 100%;
}

.we-work__img {
  border-radius: 20px;
  padding: 0px 0px 85% 0px;
  margin: 0px 0px 20px 0px;
}

.we-work__subtitle {
  font-weight: 600;
  line-height: 122.22222%;
  font-size: 18px;
  /* line-height: 22px; */
  color: #000000;
  margin: 0px 0px 20px 0px;
}

.we-work__subtitle span {
  color: #4985FF;
}

.we-work__discription {
  font-size: 16px;
  color: #999999;
  line-height: 156.25%;
  margin: 0px 0px 25px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.we-work__link {
  font-weight: 500;
  font-size: 16px;
  color: #4985FF;
  line-height: 125%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.we-work__link:hover {
  text-decoration: underline;
}

.our-projects {
  background-color: #F6F6F8;
}

.our-projects__flex {
  margin: 50px 0px 0px 0px;
  padding: 80px 0px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.our-projects__discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 30px 0px;
}

.our-projects__text {
  max-width: 730px;
  font-size: 16px;
  color: #999999;
  line-height: 156.25%;
}

.our-projects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-projects__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 255px;
          flex: 0 0 255px;
  margin: 0px 0px 35px 0px;
}

.our-projects__img {
  padding: 100% 0px 0px 0px;
  /* display: inline-block; */
  overflow: hidden;
  border-radius: 20px;
}

.our-projects__img img {
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.our-projects__img img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.our-projects__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._no-webp .about-work{
  background: url("../img/main/video_bg.jpg") center/cover no-repeat; }

.about-work__container {
  padding: 50px 0px 450px 0px;
}

.about-work__discription {
  color: #ffffff;
  text-align: center;
}

.video__flex {
  margin: -400px 0px 0px 0px;
}

.video__container {
  padding: 0px 0px 70px 0px;
  border-bottom: 1px solid #E0E0E0;
}

.video__img {
  padding: 0px 0px 35% 0px;
}

.newsletter__flex {
  margin: 100px 0px 0px 0px;
}

.newsletter__container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.newsletter__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 122.22222%;
  text-align: center;
  color: #000000;
  font-size: 18px;
}

.newsletter__discription {
  font-size: 16px;
  color: #999999;
  line-height: 156.25%;
  font-size: 16px;
}

.newsletter__forms {
  margin: 50px 0px 50px 0px;
  /* 	form {
			max-width: 600px;
		} */
}

.newsletter__forms button {
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  padding: 15px 10px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.newsletter__forms button:hover {
  background: #3057a7;
}

.newsletter__suptitle {
  font-size: 13px;
  color: #999999;
  line-height: 161.53846%;
}

.form {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 20px;
}

.input {
  width: 61%;
  height: 46px;
  padding: 0px 0px 0px 20px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0px 0px 30px;
}

.input:focus {
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.55);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.55);
}

.input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input:focus::-moz-placeholder {
  opacity: 0;
}

.input:focus:-ms-input-placeholder {
  opacity: 0;
}

.input:focus::-ms-input-placeholder {
  opacity: 0;
}

.input:focus::placeholder {
  opacity: 0;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.header {
  background-color: #99999969;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #A1A1A1;
  padding: 40px 0px 40px 0px;
  z-index: 15;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header__nav {
  /* background-color:#9999993d;
		padding: 40px 0px 40px 0px;
		position: fixed;
		width: 100%;
		max-width: 1300px; */
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__drop {
  margin: 0px 20px 0px 0px;
  /* @include adaptiv-value ("margin-right", 20, 10, 1) */
  position: relative;
}

.header__drop::before {
  content: '';
  position: absolute;
  bottom: -42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__drop:hover:before {
  opacity: 1;
  width: 100%;
}

.header__drop:last-child {
  margin: 0px 0px 0px 0px;
}

.header__link {
  padding: 0px 15px;
  /* @include adaptiv-font(16, 10, 1); */
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.header__burger {
  width: 30px;
  height: 18px;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 100;
  /* margin: 0px 0px 0px 200px; */
  /* background-color: #fff; */
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}

.header__burger span {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2222;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: -2px 0px 0px 0px;
}

.header__burger span:first-child {
  top: 0;
}

.header__burger span:last-child {
  top: auto;
  bottom: 0;
}

.header__burger:target__nav {
  display: none;
}

.footer {
  background: #F6F6F8;
}

.footer__flex {
  margin: 100px 0px 0px 0px;
  padding: 50px 0px;
}

.footer__container {
  border-bottom: 1px solid #E0E0E0;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__contact {
  margin: 0px 0px 20px 0px;
}

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 122.22222%;
  margin: 0px 0px 35px 0px;
  font-size: 18px;
}

.footer__mail {
  background: url("../img/footer/1.svg") left no-repeat;
  margin: 0px 0px 20px 0px;
}

.footer__mail a {
  padding: 0px 0px 0px 25px;
  font-size: 14px;
  line-height: 157.14286%;
  color: #999999;
}

.footer__tel {
  background: url("../img/footer/2.svg") left no-repeat;
  margin: 0px 0px 20px 0px;
}

.footer__tel a {
  padding: 0px 0px 0px 25px;
  font-size: 14px;
  line-height: 157.14286%;
  color: #999999;
}

.footer__geo {
  background: url("../img/footer/3.svg") left/17px 17px no-repeat;
}

.footer__geo a {
  padding: 0px 0px 0px 25px;
  font-size: 14px;
  line-height: 157.14286%;
  color: #999999;
}

.footer__link {
  background: url("../img/footer/Vector.svg") left no-repeat;
  margin: 0px 0px 30px 0px;
}

.footer__link a {
  padding: 0px 0px 0px 20px;
  color: #999999;
  font-size: 14px;
  line-height: 157.14286%;
}

.footer__link a:hover {
  text-decoration: underline;
}

.footer__copyright {
  /* margin: 40px 0px 0px 0px; */
  text-align: center;
}

.footer__copyright a {
  padding: 20px 0px;
  display: inline-block;
  color: #999999;
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat";
}

/* -------------- */

._container {
  max-width: 1200px;
  margin: 0px auto;
}

._ibg {
  position: relative;
}

._ibg video,
._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* -------------- */

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*-------------- */

@media (max-width: 1300px) {
  .footer__items {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 1250px) {
  .our-projects__row {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .our-projects__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media (max-width: 1200px) {
  .btn {
    font-size: calc(13px + 3 * ((100vw - 320px) / 880));
  }

  .btn {
    padding-top: calc(10px + 5 * ((100vw - 320px) / 880));
  }

  .btn {
    padding-bottom: calc(10px + 5 * ((100vw - 320px) / 880));
  }

  .btn {
    padding-left: calc(20px + 16 * ((100vw - 320px) / 880));
  }

  .btn {
    padding-right: calc(20px + 16 * ((100vw - 320px) / 880));
  }

  .title__text {
    font-size: calc(25px + 11 * ((100vw - 320px) / 880));
  }

  .suptitle {
    font-size: calc(13px + 3 * ((100vw - 320px) / 880));
  }

  .intro__flex {
    padding-top: calc(70px + 330 * ((100vw - 320px) / 880));
  }

  .intro__flex {
    padding-bottom: calc(30px + 250 * ((100vw - 320px) / 880));
  }

  .intro__subtitle {
    font-size: calc(13px + 3 * ((100vw - 320px) / 880));
  }

  .intro__title {
    font-size: calc(30px + 18 * ((100vw - 320px) / 880));
  }

  .mobile-applications__name-article {
    font-size: calc(13px + 5 * ((100vw - 320px) / 880));
  }

  .mobile-applications__inform {
    font-size: calc(10px + 4 * ((100vw - 320px) / 880));
  }

  .development__row {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .development__row {
    padding-bottom: calc(50px + 40 * ((100vw - 320px) / 880));
  }

  .development__title {
    font-size: calc(20px + 16 * ((100vw - 320px) / 880));
  }

  .development__duscription {
    font-size: calc(13px + 3 * ((100vw - 320px) / 880));
  }

  .development__number {
    font-size: calc(20px + 16 * ((100vw - 320px) / 880));
  }

  .development__suptitle {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }

  .our-work__title {
    font-size: calc(20px + 16 * ((100vw - 320px) / 880));
  }

  .we-work__project {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 880));
  }

  .our-projects__flex {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 880));
  }

  .our-projects__flex {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 880));
  }

  .newsletter__title {
    font-size: calc(13px + 5 * ((100vw - 320px) / 880));
  }

  .newsletter__discription {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }

  .header {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 880));
  }

  .header {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 880));
  }

  .footer__title {
    font-size: calc(13px + 5 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 1190px) {
  .we-work__items {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 1180px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1050px) {
  .development__row {
    display: block;
  }

  .development__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* height: auto; */
  }

  .development__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* justify-content: center; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .development__duscription {
    max-width: 500px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .development__links {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }

  .development__img {
    padding: 0px 0px 50% 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 1020px) {
  .footer__contact {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .we-work__items {
    display: block;
    /* text-align: center; */
  }

  .we-work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
}

@media (max-width: 992px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 805px) {
  .video__flex {
    margin: -425px 0px 0px 0px;
  }
}

@media (max-width: 800px) {
  .our-work__work {
    display: block;
    text-align: center;
  }

  .our-work__text {
    margin: 0px 0px 20px 0px;
  }

  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__menu {
    /* display: none; */
  }

  .header__list {
    display: block;
    text-align: left;
  }

  .header__drop {
    margin: 0px 0px 10px 0px;
  }

  .header__burger {
    display: block;
  }

  .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 780px) {
  .video__flex {
    margin: -470px 0px 0px 0px;
  }
}

@media (max-width: 770px) {
  .video__flex {
    margin: -15% 0px 0px 0px;
  }
}

@media (max-width: 767px) {
  ._container {
    max-width: none;
    padding: 0px 15px;
  }
}

@media (max-width: 750px) {
  .mobile-applications__items {
    display: block;
  }

  .mobile-applications__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form {
    width: 600px;
  }
}

@media (max-width: 700px) {
  .our-projects__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 550px) {
  .mobile-applications__card {
    /* text-align: center; */
  }

  .mobile-applications__item {
    display: block;
    /* text-align: center; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .mobile-applications__photo {
    /* flex: 1 0 auto; */
    /* text-align: center; */
  }

  .mobile-applications__discription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 30px 0px;
  }

  .mobile-applications__inform {
    max-width: 300px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .development__title {
    text-align: center;
  }

  .form {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .form {
    width: 350px;
  }
}

@media (max-width: 350px) {
  .mobile-applications__inform {
    max-width: 250px;
    text-align: center;
  }
}

._webp .intro{ background: url(../img/intro/Rectangle.webp) center/cover no-repeat; }

._webp .about-work{ background: url(../img/main/video_bg.webp) center/cover no-repeat; }